// Body

html,
body {
   @apply
      text-base
      text-gray-800;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

// Links

a {
   @apply transition;
}

// Typography

p {
   @apply mb-2;
   &:last-of-type {
      @apply mb-0;
   }
}

// Selection

::selection {
   @apply
      text-white
      bg-primary-500;
}

// FOUT fix

.wf-loading {
   @apply invisible;
}

.wf-active,
.wf-inactive {
   @apply visible;
}
