html,
body {
   @apply
      text-base
      text-gray-800;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

a {
   @apply transition;
}

::selection {
   @apply
      text-white
      bg-primary-500;
}
